
#enter-here {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    color: teal;
    font-weight: bold;
}

#enter-here > a {
    position: relative;
    bottom: 2em;
    cursor: pointer;
    text-decoration: none;
    color: teal;
    border: 10px black dotted;
    padding: 20px;
}

.main-section {
    font-size: 4em;
    height: 100%;
    width: auto;
}
